version: '3.1'
services:
  db:
    hostname: mysql
    image: mysql:5.7
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3306:3306

volumes:
  db_data:
#  elasticsearch_data:

